.hidden
{
	display: none;
}

html, body {
  margin: 0;
  padding: 0;
}

#container
{

	max-width: 1920px;
}



.logo {
	position: relative;
	display: block;
	width: 25%;
	margin-left: auto;
	margin-right: auto;


}

.logo img{
padding-top: 40px;
}

.logo:hover{
	opacity: 0.7;
}

.navbar{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	color: #2A2E30;
	margin-left: 0 auto;
	margin-right: 0 auto;

}

.brand-title {
	font-size: 1.5rem;
	margin: .5rem;
}

.navbar-links ul{
	margin: 0;
	padding: 0;
	display: flex;
	text-align: center;
	list-style: none;
}

.navbar-links ul li{
	font: 20px "Segoe UI", Arial, sans-serif;
	display: inline-block;
	text-align: center;
	padding: 1rem;

}


.navbar-links ul li a{
	color: #2A2E30;
	text-decoration: none;
	text-align: center;
	margin-left: 40px;
	margin-right: 40px;
	padding: 1rem;


}

.navbar ul li a:hover{
	color: #F46530;
	border-radius: 30px;
	border: 0px;

}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #2A2E30;
    border-radius: 10px;

}

.toggle-button:hover{
opacity: .7;}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }



    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }



}


.body{
	background: url("../images/5172661.jpg");
	background-repeat: no-repeat;
		background-size: cover;
	width: 100%;
	padding-bottom: 40px;

}

.aboutBody, .contactBody .portBody{
	background: url("../images/5172661.jpg");
	background-repeat: no-repeat;
		background-size: cover;
	width: 100%;
	padding-bottom: 40px;
}

.contactBody {
	background: url("../images/5172661.jpg");
	background-repeat: no-repeat;
		background-size: cover;
	width: 100%;
	padding-bottom: 40px;
}

.text{
	color: white;
	padding: 200px 0;
	text-align: center;
}

.name{
	font: 48px "Segoe UI", Arial, sans-serif;
}

.title{
	font: 38px Georgia, Arial, sans-serif;
}

.tagline{
	font: 22px Georgia, Arial, sans-serif;
	margin-top: 15px;

}

.w3-center {
	font: normal 38px 'Georgia', Arial, sans-serif;
	text-decoration: none;
	color: white;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.w3-center span{
	background-color: #E8524A;
	border-color: #E8524A;
	border-radius: 88px;
	padding: 8px 20px 12px 20px ;
}


.w3-display-container, .w3-display-container2{
	width: 600px;
}



.about, .port {

  padding: 20px 40px 40px;
  max-width: 1800px;
  display: flex;
  }

	.aboutText p, .portText p{
		font: normal 22px 'Segoe UI', Arial, sans-serif;
		color: #fff;
		display: block;
		text-align: center;
		margin-left: 300px;
		margin-right: 300px;
		background-color: #221A2C;
		border-style: solid;
		border-width: medium;
		border-color: #E8524A;
		opacity: 1;
		border-radius: 88px;
		padding: 40px;


	}

.btn{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	font: normal 22px 'Segoe UI', Arial, sans-serif;
	color: white;
	background-color: #E8524A;
	border-color: #E8524A;
	border-radius: 88px;
	padding: 8px 20px 12px 20px ;
}

.btn:hover{
	background-color: white;
	font: normal 22px 'Segoe UI', Arial, sans-serif;
	color:  #E8524A;
	opacity: 0.8;
	cursor: pointer;
	border-color: white;
}

.portBody{

	background: url("../images/5172661.jpg");
	background-repeat: no-repeat;
		background-size: cover;
	width: 100%;
	padding-bottom: 40px;

}

.portHeading {
	font: normal 28px 'Georgia', Arial, sans-serif;
	text-decoration: underline;
	color: #fff;
	text-align: center;
	padding: 30px;

}

.parent{
	display: grid;
	grid-column-gap: 40px;
	grid-row-gap: 105px;
	grid-template-columns: 450px 450px 450px;
	grid-template-rows: 250px;
	justify-content: center;
	margin-bottom: 50px;

}

.parentText
{

	background-color: white;
	text-align: center;
	border-radius: 88px;
	margin-top: 32px;
	padding: 4px 18px 4px 18px;
}

.parentText2
{

	background-color: white;
	text-align: center;
	border-radius: 88px;
	margin-top: 21px;
	padding: 4px 18px 4px 18px;
}

.parent > div {
	padding: 10px;
	background-color: #221A2C;
	border-style: solid;
	border-color:  #E8524A;
	border-radius: 10px;

	display: grid;
	place-items: center;


}

.parent .one{
	background: url("../images/heart1.svg");
	background-repeat: no-repeat;
		background-size: cover;
			font: normal 24px 'Segoe UI', Arial, sans-serif;
}

.parent .two{
	background: url("../images/heart2.svg");
	background-repeat: no-repeat;
		background-size: cover;
}

.parent .three{
	background: url("../images/heart3.svg");
	background-repeat: no-repeat;
		background-size: cover;
}
.one{
		font: normal 24px 'Segoe UI', Arial, sans-serif;
}

	#contactArea
	{
		display: flex;
		flex-direction: row;
	  	justify-content: flex-start;
	  	background-color: #5c74d5;
	  	height: 210px;
			background: #a8a6bd 0% 0% no-repeat padding-box;
			opacity: 0.35;

	}

	.contactWrap
	{
		height: 100%;
		width: 100%;
		margin-top: 10px;
		display:flex;
	    background: url('./images/fipbg.jpg') no-repeat scroll center;
	    background-size: 100%;

	}

	.contactWrap h2{
		text-align: center;
		background-color: #E8524A;
		border-radius: 88px;
		padding: 8px;
	}

	.formWrap
	{

		width: 70%;
		height: 100%;
		margin-top: 35px;
		margin-left: 150px;
		font: normal 22px 'Segoe UI', Arial, sans-serif;
		color: #ffffff;

	}

	.formWrap h2{
		font: normal 38px 'Georgia', Arial, sans-serif;
	}

	.formWrap p
	{
		font: normal 22px 'Segoe UI', Arial, sans-serif;
		font-size: 20px;
		line-height: 20px;
		color: #ffffff;
		margin-bottom: 20px;

	}

	textarea, select, input
	{
	font: normal 14px 'Segoe UI', Arial, sans-serif;

	border: 2px solid #E8524A;
	border-radius: 10px;
		margin-bottom: 25px;
		width: 100%;
		resize: none;
	}

	textarea, select, input:hover{
			color: black;


	}

	input[type=submit]
	{
		font: normal 16px 'Segoe UI', Arial, sans-serif;
	border: 2px solid #FFFFFF;
	border-radius: 88px;
	margin-top:20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #E8524A;
	color: white;
	width: 20%;
	height: 30px;
	cursor: pointer;

	}

		input[type=submit]:hover{
			background-color: white;
			font: normal 16px 'Segoe UI', Arial, sans-serif;
			color:  #E8524A;
			cursor: pointer;
			border: 2px solid #E8524A;

		}

	.map{
		padding: 40px;
	}


.mainFooter{

display: flex;
flex-direction: row;
	justify-content: center;
}

#footerNav
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#footerNav ul
{

	list-style-type: none;
	margin-top: 25px;
	background-color: #E8524A;
	border-radius: 88px;
	padding: 8px;


}

#footerNav ul li
{
	display: inline;

	font-size: 29px;
	font-family:  Arial, sans-serif;
	margin-left: 70px;
	margin-right: 70px;

	color: white;
}

#footerNav ul li a
{
	color: #fff;
	text-decoration: none;
}

#footerNav ul li a:hover
{
	color: #2A2E30;

	border-radius: 4px;
}

#icons ul{
	display: block;
	margin-left: 200px;
	margin-right: 200px;

}
